/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin-top: 100px;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo del encabezado y barra de navegación */
  /* .navbar {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  } */
  
  /* Estilo del título principal */
  h2.text-center {
    font-size: 36px;
    margin-top: 20px;
  }
  
  /* Estilo de los filtros */
  .filter {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter label {
    display: block;
    margin-bottom: 5px;
  }
  
  .filter select,
  .filter input[type="text"],
  .filter input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
/* Estilo general */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  } */
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo del encabezado y barra de navegación */
  .navbar {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  /* Estilo del título principal */
  h2.text-center {
    font-size: 36px;
    margin-top: 20px;
  }
  
  /* Estilo de los filtros */
  .filter {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter label {
    display: block;
    margin-bottom: 5px;
  }
  
  .filter select,
  .filter input[type="text"],
  .filter input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  /* Estilo de la sección de productos */
  .products {
    padding: 40px 0;
  }
  
  /* Estilo de la fila de productos */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-4 {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .col-md-4 {
      flex: 0 0 calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .col-md-4 {
      flex: 0 0 100%;
    }
  }
  
  